@model IEnumerable<Demo3_1.Models.Person>

@{
    ViewData["Title"] = "Index8";
}

<h2>Index8</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Namn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<p><b>Personer - Lista från model</b></p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Namn</th>
    </tr>
    @foreach (Demo3_1.Models.Person person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Namn</td>
        </tr>
    }
    </table>
